


.home_page_flex_container_before{


    height: 100%;
    width: 100%;
    
    background-image: url("http://www.simdols.com/media/files/2016/08/it-background-5.jpg") !important;
    background-repeat: no-repeat !important ;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  
}
.home_page_flexcontainer{
    display: flex;
    height: 100%;
    width : 100%;
    align-items: center;
    justify-content: center!important;
    flex-direction: column;
}

.home_page_title1{

    font-size: 35px;
    color: white;
}

.home_page_title{

  color: white;
  font-size: 35px;
  margin-bottom: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  margin-bottom: 50px;


  animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
.home_page_button{

    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    color: white;
    -webkit-transition: 0.8s;
    font-size: 20px;
   
   



}
.home_page_button:hover{

    background-color : white;
    color: black;
    text-decoration:none;
    opacity: 0.8;


}


@media(max-width: 768px)
{

    .home_page_title{
        font-size: 15px;
    }

    .home_page_title1{
      font-size: 15px;
    }

    .home_page_button{

        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        color: white;
        -webkit-transition: 0.8s;
        font-size: 15px;
       
       
    
    
    
    }

    .home_page_button:hover{

        background-color : white;
        color: black;
        text-decoration:none;
        opacity: 0.8;
    
    
    }
}


