
.portfolio_div_container{

    width: 100%;
    height: 100%;
    background-color: #bc8484;
    background-size: cover;
   flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}
.content{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}


.portfolio_head{

    color: white;

  

}

.row{

    margin-bottom: 0px;
    margin-top: 30px;
}
